* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segue UI", Geneva, Verdana, sans-serif;
}
.header {
  width: 100%;
  height: 90vh;
  background-image: url("../IMG/header.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
}
.left {
  background-color: rgba(0, 0, 0, 0.8);
  grid-column: 1/6;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.top {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 38px;
  color: #fff;
}
.top ul {
  list-style: none;
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.top ul li a {
  font-size: 18px;
  text-decoration: none;
  color: rgb(211, 211, 211);
}
.content {
  height: 80vh;
  display: flex;
}
.left-content {
  width: 30%;
}
.right-content {
  width: 70%;
}
.title {
  font-size: 20px;
  color: white;
}
.sub-title {
  height: 25%;
  width: 400px;
  transform: rotate(-90deg);
  margin-left: -140px;
  margin-top: 150px;
  color: #fff;
  font-size: 14px;
}
.right-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.right-content h1 {
  grid-row: 1/2;
  grid-column: 2/5;
  color: #fff;
  font-size: 24px;
  align-self: center;
}
.right-content p {
  grid-column: 2/5;
  grid-row: 2/3;
  color: #fff;
  font-size: 14px;
}
.images {
  grid-column: 2/5;
  grid-row: 3/4;
  display: flex;
  justify-content: space-between;
}
img {
  width: 90px;
  height: 90px;
  clip-path: circle(50%);
}
